 <!-- Модальное окно для информации -->
 <div class="modal fade" id="alert-modal" tabindex="-1" aria-labelledby="alert-modal-label" aria-hidden="true"
 data-bs-theme="dark">
 <div class="modal-dialog">
     <div class="modal-content">
         <div class="modal-header  text-white">
             <h5 class="modal-title" id="alert-modal-label">Уведомление</h5>
             <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body" id="alert-modal-msg">
             <!-- Сообщение об ошибке будет вставляться сюда -->
         </div>
         <div class="modal-footer">
             <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                 aria-label="Close">Закрыть</button>
         </div>
     </div>
 </div>
</div>