 <!-- Модальное окно для ошибок -->
<div style="z-index:1000000000" class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true"data-bs-theme="dark">
<div class="modal-dialog">
     <div class="modal-content">
         <div class="modal-header bg-danger text-white">
             <h5 class="modal-title" id="errorModalLabel">Ошибка</h5>
             <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body" id="errorModalMessage">
             <!-- Сообщение об ошибке будет вставляться сюда -->
         </div>
         <div class="modal-footer">
             <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                 aria-label="Close">Закрыть</button>
         </div>
     </div>
 </div>
</div>