<script id="chat-template" type="x-tmpl-mustache">               
    <div class="btn chat-item d-flex flex-row" data-id="{{id}}" onclick="app.openChat({{id}})">
        <span class="marquee">{{name}}</span>
        {{#isOwned}}
            <span class="edit-btn" onclick="event.stopPropagation(); app.editChatModal({{id}});"> <i class="bi bi-gear"></i> </span>
        {{/isOwned}}
        {{^isOwned}}
            <span class="remove-btn" onclick="event.stopPropagation(); app.deleteChat({{id}});"> <i class="bi bi-x"></i> </span>
        {{/isOwned}}
    </div>
</script>

<style>
.chat-item {
    max-width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.marquee {
    white-space: nowrap;
    display: inline-block;
    padding: 5px;
}

.marquee--animated {
    overflow: hidden;
    /*animation: marquee 5s linear infinite;*/
}

@keyframes marquee {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-100%, 0, 0);
    }
}
</style>